/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
	white-space: normal;
	text-align: center;
	word-break: break-all;
}

a {
	color: #0077cc;
}

.btn-primary {
	color: #fff;
	background-color: #1b6ec2;
	border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	color: #fff;
	background-color: #1b6ec2;
	border-color: #1861ac;
}

.navbar-collapse {
	flex-grow: 0;
}

.border-top {
	border-top: 1px solid #e5e5e5;
}

.border-bottom {
	border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
	box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.bg-green {
	--bs-bg-opacity: 1;
	background: #2C632B;
	margin-top: 2ex;
	margin-left: 5ex;
	margin-right: 5ex;
}

ul.navbar-nav li {
	color: black;
	background-color: white;
	border-color: black;
	border-radius: 1ex;
	text-decoration: none;
}

button.btn-white {
	white-space: nowrap;
}

ul {
	margin-right: 5ex;
}

li {
	margin: 0 3ex 0 0;
}
