@inject IHttpContextAccessor httpContextaccessor
@using System.IdentityModel.Tokens.Jwt;


@{
    string accessTokenName = "AccessToken";
    string jwtRoleField = "role";
    string jwtNameField = "name";

    string clientRoleName = "CLIENT";
    string supervisorRoleName = "SUPERVISOR";
    string ownerRoleName = "OWNER";

    var httpContext = httpContextaccessor.HttpContext;
    var accessToken = httpContext?.Request.Cookies[accessTokenName];

    var userRole = "";
    var userName = "";
    if (accessToken != null)
    {
        var tokenContent = new JwtSecurityTokenHandler().ReadToken(accessToken) as JwtSecurityToken;
        userRole = tokenContent?.Claims.First(claim => claim.Type == jwtRoleField).Value;
        userName = tokenContent?.Claims.First(claim => claim.Type == jwtNameField).Value;
    }

    var actionSucceeded = TempData["ActionSucceeded"];
    var actionFailed = TempData["ActionFailed"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="~/images/logo.png" />
    <title>@ViewData["Title"] - Restaurant Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Restaurants_Webpage.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-xl navbar-light bg-green justify-content-center box-shadow mb-3">
            <div class="container-fluid">

                @if (userRole == supervisorRoleName)
                {
                    <a class="navbar-brand" asp-area="" asp-controller="supervisor" asp-action="restaurants">
                        <img src="~/images/logo.png" />
                    </a>
                } else
                {
                    <a class="navbar-brand" asp-area="" asp-controller="home" asp-action="index">
                        <img src="~/images/logo.png" />
                    </a>
                }
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex">
                    @if (!string.IsNullOrEmpty(userName))
                    {
                        <p class="user-greeting">Hello, @userName!</p>
                    }
                    else
                    {
                        <p class="user-greeting">Hello!</p>
                    }
                    <ul class="navbar-nav flex-grow-1">
                        @if (!string.IsNullOrEmpty(accessToken) && !string.IsNullOrEmpty(userRole))
                        {
                            @if (userRole == supervisorRoleName || userRole == ownerRoleName)
                            {
                                <li>
                                    <a type="button" class="btn btn-white" asp-area="" asp-controller="supervisor" asp-action="employees">Employees</a>
                                </li>
                                <li>
                                    <a type="button" class="btn btn-white" asp-area="" asp-controller="supervisor" asp-action="restaurants">Restaurants</a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a type="button" class="btn btn-white" asp-area="" asp-controller="home" asp-action="index">Restaurants</a>
                                </li>
                            }

                            @if (userRole == clientRoleName)
                            {
                                <li>
                                    <a type="button" class="btn btn-white" asp-area="" asp-controller="client" asp-action="myReservations">Reservations</a>
                                </li>
                            }

                            <li>
                                <a type="button" class="btn btn-white" asp-area="" asp-controller="user" asp-action="logout">Logout</a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a type="button" class="btn btn-white" asp-area="" asp-controller="user" asp-action="register">Register</a>
                            </li>
                            <li>
                                <a type="button" class="btn btn-white" asp-area="" asp-controller="user" asp-action="login">Login</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
        @if (actionSucceeded != null || actionFailed != null)
        {
            var toastHeader = actionSucceeded != null ? "Success!" : "Fail!";
            var toastBody = actionSucceeded != null ? actionSucceeded : actionFailed;
            <div id="toast-popup" class="toast show">
                <div class="toast-header">
                    @if (toastHeader.Equals("Success!"))
                    {
                        <strong id="toast-success">@toastHeader</strong>
                    }
                    else
                    {
                        <strong id="toast-fail">@toastHeader</strong>
                    }
                    <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
                </div>
                <div class="toast-body">
                    @toastBody
                </div>
            </div>
        }
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <div class="fixed-background"></div>
            @RenderBody()
        </main>
    </div>

    <footer class="text-muted">
        <div class="footer-line-green"></div>
        <div class="container text-center">
            <p class="footer-text">Restaurants Manager  2023</p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
