@{
    ViewData["Title"] = "Login";

    var errorMessage = TempData["LoginError"];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="background-page text-center">
        <form action="/accounts/login" method="post">
            <div class="table-container">
                <table class="table-md">
                    <tr>
                        <td class="table-header">
                            <b>
                                Login
                            </b>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <div class="input-group table-width-medium">
                                <input class="form-control" type="text" placeholder="Enter Username" name="login" required>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="table-header">
                            <b>
                                Password
                            </b>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <div class="input-group table-width-medium">
                                <input class="form-control" type="password" placeholder="Enter Password" name="password" required>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @if (errorMessage != null)
                            {
                                <label class="error-text">
                                    @Html.Raw(@errorMessage)
                                </label>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" value="Login" class="btn btn-success btn-medium">
                        </td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
</body>
</html>
