@{
    ViewData["Title"] = "Register";
    var registerError = TempData["RegisterError"];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="/js/register.js"></script>
</head>
<body>
    <div class="background-page text-center">
        <form action="/accounts/register" method="post">
            <div class="table-container">
                <table class="table-md">
                    <tr>
                        <td class="table-header">
                            <b>
                                Login
                            </b>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <div class="input-group table-width-medium">
                                <input class="form-control" type="text" placeholder="Enter Username" name="login" id="login" required>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="table-header">
                            <b>
                                E-mail
                            </b>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <div class="input-group table-width-medium">
                                <input class="form-control" type="text" placeholder="Enter e-mail" name="email" id="email" required>
                            </div>
                        </td>
                    </tr>
                    <td class="table-header">
                        <b>
                            Password
                        </b>
                    </td>
                    <tr>
                        <td align="center">
                            <div class="input-group table-width-medium">
                                <input class="form-control" type="password" placeholder="Enter Password" name="password1" id="password1" required>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <div class="input-group table-width-medium">
                                <input class="form-control" type="password" placeholder="Reenter Password" name="password2" id="password2" required>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <input type="checkbox" name="registerMeAsEmployee" id="registerMeAsEmployee">
                            <label for="registerMeAsEmployee">Register me as an employee</label><br>
                        </td>
                    </tr>
                    <td class="table-header">
                        <b>
                            PESEL
                        </b>
                    </td>
                    <tr>
                        <td align="center">
                            <div class="input-group table-width-medium">
                                <input class="form-control" type="number" placeholder="Enter PESEL" name="pesel" id="pesel" onKeyPress="if(this.value.length==11) return false;" disabled>
                            </div>
                        </td>
                    </tr>
                    <td class="table-header">
                        <b>
                            Hired date
                        </b>
                    </td>
                    <tr>
                        <td align="center">
                            <div class="input-group table-width-medium">
                                <input class="form-control" type="date" name="hiredDate" id="hiredDate" disabled>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="error-text">
                                @if (registerError != null)
                                {
                                    <label class="error-text">
                                        @Html.Raw(registerError)
                                    </label>
                                }
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" value="Register" class="btn btn-success btn-medium" id="submit-register">
                        </td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
</body>
</html>